.wp-block-sgb-alert .wp-block-sgb-alert__title {
	font-size: 1.1em;
	margin-bottom: .5em;
}

.wp-block-sgb-alert {
	p {
		color: inherit;
		font-size: 1em;
	}
}

.components-popover {
	i.dashicon {
		width: 25px;
	}
}
