.wp-block-sgb-alert {
	position: relative;
	border-radius: 2px;
	padding: 20px;
	background: whitesmoke;
	margin-top: 1em;
	overflow: hidden;
	margin-bottom: 1em;

	&__background {
		position: absolute;
		top: 0;
		right: 9px;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .25;
		pointer-events: none;
	}

	p.wp-block-sgb-alert__title {
		font-weight: bold;
		font-size: 1.1em;
		margin-bottom: .5em;
	}

	&.is-style-bordered {
		border: 2px solid var(--alert-accent);
	}

	&__content {
		margin-bottom: 0;
	}

	&__title + &__content {
		margin-top: 0;
	}

	p {
		color: inherit;
		font-size: 1em;
	}
}
