.wp-block-sgb-profile {
	&__avatar {
		background: #f2f2f2;

		button {
			color: currentColor;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__social-links {
		a {
			color: currentColor !important;
			pointer-events: none;
		}
	}
}
