.wp-block-sgb-profile {
	padding: 40px;

	p {
		margin: 0;
	}

	&__salutation {
		opacity: .7;
	}

	&__position {
		opacity: .8;
		font-weight: 500;
	}

	a {
		text-decoration: none;
	}

	&__social-links {
		margin-top: 1em;
		display: flex;
		justify-content: flex-end;

		a {
			color: currentColor;
		}

		.fab {
			font-size: 25px;
		}

		a + a {
			margin-left: 25px;
		}

		a:first-of-type {
			margin-right: auto;
		}
	}

	&__avatar {
		width: 148px;
		height: 148px;
		border-radius: 50%;
	}

	&__details {
		display: flex;
		margin-bottom: 2em;
	}

	&__author-content {
		flex: 1;
	}

	&__avatar {
		margin-left: 20px;

		img {
			width: 100%;
			height: 100% !important;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}
