.wp-block-sgb-container {
	position: relative;
	overflow: hidden;
	&__inner {
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 2;
	}

	img.wp-block-sgb-container__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		user-select: none;
		z-index: 1;
		pointer-events: none;
	}
}
