.wp-block-sgb-website-card {
	&__url {
		pointer-events: none;
	}
}
.wp-block-sgb-website-card__placeholder {
	.components-base-control {
		width: 100%;
		flex-grow: 1;
	}
}
@media screen and (min-width: 768px) {
	.wp-block-sgb-website-card img {
		height: 100% !important;
	}
}
