.wp-block-sgb-hero {
	background: #F7F9FA;
	min-height: 450px;
	padding: 30px;
	position: relative;
	background-size: cover;
	background-position: 50%;
	margin-top: 1em;
	margin-bottom: 1em;

	&__background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__container {
		position: absolute;
		left: 30px;
		right: 30px;
		bottom: 30px;
		top: 30px;
		z-index: 5;
	}

	.wp-block-sgb-hero__text {
		margin: 1em 0;
	}

	&__content {
		position: absolute;
		width: 100%;
		max-width: 50%;

		&.left { left: 0; }
		&.top { top: 0; }
		&.bottom { bottom: 0; }
		&.right { right: 0; text-align: right; }
		&.center.center {
			transform: translateX(-50%) translateY(-50%);
			top: 50%;
			left: 50%;
		}
		&.center.bottom {
			transform: translateX(-50%);
			bottom: 0;
			top: initial;
			left: 50%;
		}
		&.center.top {
			transform: translateX(-50%);
			top: 0;
			left: 50%;
		}
		&.center.right {
			transform: translateY(-50%);
			top: 50%;
			right: 0;
			left: initial;
		}
		&.center.left {
			transform: translateY(-50%);
			top: 50%;
			left: 0;
		}
	}

	.sgb-button {
		border: none;
		border-radius: 23px;
		box-shadow: none;
		cursor: pointer;
		line-height: 1 !important;
		display: inline-block;
		font-size: 18px;
		line-height: 24px;
		margin: 0;
		padding: 11px 24px;
		text-align: center;
		text-decoration: none;
		white-space: normal;
		word-break: break-all;
	}
}
