body.admin_page_stag-blocks-welcome {
	background-color: #f3f6f8;
}

.stag-blocks-welcome {
	font-size: 16px;
}

.stag-blocks-welcome h2 {
	font-size: 23px;
	font-weight: normal;
}

.stag-blocks-welcome p.intro {
	font-size: 19px;
	color: #333;
}

.stag-blocks-welcome p {
	font-size: inherit;
	margin-top: 0;
	color: #4f4f4f;
}

.stag-blocks-welcome p:last-of-type {
	margin: 0;
}

.stag-blocks-welcome .content {
	max-width: 390px;
	background: #fff;
	padding: 30px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.stag-blocks-welcome .content-wrapper {
	width: 38%;
}
.stag-blocks-welcome .video-wrapper {
	flex: 1;
	margin-right: 20px;
}

.stag-blocks-welcome .container {
	display: flex;
}

.stag-blocks-welcome .sgb-button {
	border: none;
	outline: 0;
	box-shadow: none;
	background: #3575FF;
	width: 330px;
	max-width: 100%;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	height: 45px;
	box-sizing: border-box;
}
.stag-blocks-welcome .sgb-button:hover {
	background: #2257ca;
}
