body.settings_page_stag-blocks {
	background: #F3F6F8;
	color:#000000;

	#wpcontent {
		margin-left: 140px;
	}
}

@media only screen and (max-width: 782px) {
	body.settings_page_stag-blocks {
		#wpcontent {
			margin-left: 0;
			padding: 0;
		}
	}
}

.stag-blocks {
	* {
		box-sizing: border-box;
	}

	&__header {
		background: #fff;
		padding: 15px 45px;
		border-bottom: 1px solid rgba(#000, .1);

		display: flex;
		justify-content: space-between;

		h2, p, svg {
			display: inline-block;
			vertical-align: middle;
		}

		.stag-blocks-logo svg {
			margin-right: 10px;
		}
	}

	&__footer {
		max-width: 600px;
		margin: 80px auto 0;
		text-align: center;

		.codestag-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				margin-left: 10px;
			}
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			li + li {
				margin-left: 15px;
			}
			a {
				color: #3575FF;
				text-decoration: none;
				transition: color 200ms;
				&:hover {
					color: darken(#3575FF, 20%);
				}
			}
		}
	}

	&__content {
		margin: auto;
		margin-top: 50px;
		max-width: 950px;
		padding: 0 20px;
	}

	.block-categories {
		display: flex;
		background: #fff;
		border: 1px solid rgba(#000, .1);
		font-size: 14px;
		font-weight: 500;

		li {
			margin: 0;
		}

		a {
			color: #000;
			text-decoration: none;
			display: block;
			padding: 20px 20px;
			border-bottom: 2px solid transparent;

			&.is-active {
				border-color: #000;
			}

			&:focus {
				outline: 0;
				box-shadow: none;
				color: rgba(#000, .5);
			}
		}
	}

	.spinner {
		float: none;
		display: block;
		margin: 50px auto;
	}

	&__block {
		background: #fff;
		padding: 20px;
		border: 1px solid rgba(#000, .1);
		border-radius: 3px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;

		p {
			margin: 0;
			font-size: 16px;
		}

		&__icon {
			margin-right: 10px;
			fill: #555d66 !important;

			svg {
				fill: inherit;
			}
		}

		.stag-blocks__block__description {
			font-size: 0.9em;
			opacity: .4;
			margin-left: 10px;
		}

		.components-toggle-control {
			margin: 0;
			align-self: right;
			margin-left: auto;
		}
		.components-base-control__label {
			display: none;
		}
	}
}

.codestag-themes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;

	.theme {
		padding: 30px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		transition: box-shadow 300ms;
		&:hover {
			box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
		}
	}

	h4 {
		color: #000;
		font-weight: 500;
		font-size: 30px;
		margin: 1em 0;
	}

	a {
		color: #3575FF;
		text-decoration: none;
		font-size: 20px;
		transition: color 200ms;
		&:hover {
			color: darken(#3575FF, 15%);
		}
	}

	p {
		font-size: 20px;
		color: #000;
	}

	figure {
		margin: -30px -30px 0px -30px;
		padding: 0;
		max-height: 350px;
		overflow: hidden;
	}

	img {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.codestag-themes {
		grid-template-columns: 1fr;
	}
}
