.wp-block-sgb-testimonial {
	&__content p {
		font-size: inherit;
		line-height: 1.4;
	}
}

.wp-block-sgb-testimonial__image {
	.components-button {
		margin: 0;
		padding: 0;
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background: transparent !important;

		.dashicons-edit {
			position: absolute;
			right: 0;
			top: 0;
			fill: #fff;
			padding: 5px;
			box-sizing: content-box;
		}
	}
}

.edit-post-visual-editor .wp-block-sgb-testimonial .editor-rich-text p {
	font-size: inherit !important;
}
