.wp-block-sgb-countdown {
	display: flex;
	padding: 35px;
	border: 1px solid currentColor;
	margin-top: 2em;
	margin-bottom: 2em;

	&.is-style-flipped {
		.countdown-content {
			order: 2;
		}
		.countdown {
			margin-left: 0;
			margin-right: 20px;
		}
	}

	&.is-style-countdown-only {
		padding: 0;
		border: none;
		background: transparent;

		.countdown {
			margin: 0;

			span {
				padding: 50px 0;
				font-size: 40px;
			}
		}

		.countdown-content {
			display: none;
		}
	}

	> div {
		flex: 1;
	}

	.countdown {
		margin-left: 20px;
		border: 1px solid currentColor;
		display: flex;
		align-self: center;
		background: #fff;
		span {
			font-size: 20px;
		}
		em {
			font-style: normal;
			font-size: 1.5em;
		}

		span {
			flex: 1;
			display: inline-flex;
			justify-content: center;
			align-items: baseline;
			padding: 25px 0;
			+ span {
				border-left: 1px solid currentColor;
			}
		}
	}
}
