/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

:root {
	--sgb-alert-blue: #6876F3;
	--sgb-alert-yellow: #F6D73D;
	--sgb-alert-green: #44D867;
	--sgb-alert-red: #EC6565;
}
