.wp-block-sgb-pricing-table {

	.inline-container {
		display: inline-block;
		vertical-align: middle;

		select,
		> div {
			margin: 0;
		}
	}

	&__price__term_selector {
		margin: 0;
	}

	&__add {
		svg {
			display: inline-block;
			vertical-align: middle;
			margin-top: 5px;
		}
	}

	&__featured {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	&__remove {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}
}
